.data {
  //background-color: #111111;
}

.cpu {
  color: $cpucol;
  font-size: 1.5rem;
}

.ram {
  color: $ramcol;
  font-size: 1.5rem;
}

.temp {
  color: $temcol;
  font-size: 1.5rem;
}

.battery {
  color: $batcol;
  font-size: 1.5rem;
}
