.indicators {
  margin-right: 0px;
}

.battery-data {
  color: $battery-col;
}

.battery-circle {
  margin-right: 10px;
}

.temp-data {
  color: $temp-col;
  margin-right: 10px;
}

.temp-circle {
  margin-right: 10px;
}
